<!-- vis type specific options -->
<div>
  <label>
    <input type="checkbox" value="{{isDonut}}" ng-model="vis.params.isDonut" name="isDonut" ng-checked="vis.params.isDonut">
   Donut
  </label>
</div>
<!--<div class="form-group">
	<form>
		<h4>Others</h4>
		<div>
            <div class="form-group">
                <label for="sel-legend">Choose legend position</label>
                <select class="form-control" id="sel-legend" ng-model="vis.params.legend_position">
                    <option value="right">Right</option>
                    <option value="bottom">Bottom</option>
                </select>
            </div>
        </div>
	</form>
</div>-->